{
	"extends": ["react-app", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 80,
				"useTabs": true
			}
		],
		"indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-first-prop-new-line": "on",
		"quotes": ["error", "single"],
		"no-tabs": "off"
	}
}
